html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin-top: 150px;
}

.title {
    margin-top: -300px;
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#footer{
    height: 50px;
    color: white;
    background-color: lightgrey;
    text-align: center;
}

#footertext{
    font-size: 18px;
}

ul {
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}


.list-item{
    margin-left: 50px;
    font-size: 18px; 
    color: white;
}

#name-tag-navbar{
    margin-top: 14px;
    margin-bottom: 14px;
}

#shoppingcart-navbar{
    margin-left: 50px;
    font-size: 18px; 
    color: white;
}

#topnav{
    overflow: hidden;
    float: left;
    width: 80%;
}

#bottomnav{
    float: right;
    width: 20%;
}

.flex-center{
    display: inline-flex;
    text-align: center;
    width: 100%;    
}

h1{
    font-size: 60px;
}

img{
    width: 50%;
}


