html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin-top: 350px;
    width: 100%;
}

.title {
    margin-top: -300px;
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#footer{
    height: 50px;
    color: white;
    background-color: lightgrey;
    text-align: center;
}

#footertext{
    font-size: 18px;
}

ul {
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
  font-size: 18px;
}

.navbar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-a:hover {
  background-color: grey;
}


.list-item{
    margin-left: 50px;
    margin-right: 20px;
    font-size: 18px; 
    color: white;
}

#name-tag-navbar{
    margin-top: 14px;
    margin-bottom: 14px;
}

#shoppingcart-navbar{
    margin-left: 50px;
    font-size: 18px; 
    color: white;
}

#topnav{
    overflow: hidden;
    float: left;
    width: 75%;
}

#bottomnav{
    float: right;
    width: 25%;
}

.flex-center{
    display: inline-block;
    text-align: center;
    width: 100%;    
}

h1{
    font-size: 60px;
}

img{
    width: 50%;
}

.sidebar{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    border: 2px solid grey;
    height: 770px;

}

.products{
    grid-row: 2 / 4;
    grid-column: 2 / 8;
    border: 2px solid grey;
    min-height: 550px;
    max-height: 720px;
    overflow-y: auto;   
}

.categories{
    grid-row: 1 / 2;
    grid-column: 2 / 8;
    border: 2px solid grey;
    text-align: center;
    max-height: 150px;
}

.content-products {
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    display: grid;
    height: 770px;    
}

.banner{
    text-align: center;
    height: 100px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-details{
    grid-template-columns: auto auto auto auto auto;
    display: grid;
    width: 100%
    height: 500px;
}

.product-information{
    border: 2px solid grey;
    height: 100%;
    grid-row: 1 / 4 ;
    grid-column: 1 / 5 ;
}

.product-description{
    height: 300px;  
    padding: 30px;
    border: 2px solid grey;
    grid-row: 4 / 6 ;
    grid-column: 1 / 5 ;
}

.product-interactivity{
    text-align: center;
    border: 2px solid grey;
    grid-row: 1 / 6 ;
    grid-column: 5 / 6 ;
}

.loginorregister{
    margin: auto;
    display: inline-block;  
    text-align: center;
    height: 600px;
    border: 2px solid lightgrey;
    margin-top: 30px;
    width: 600px;

}

.logincontent{
    text-align: center;
}

.tabakshop-button {
    margin-top: 20px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.tabakshop-button:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.tabakshop-button:active {
    position:relative;
    top:1px;
}

.beleidsvoering{
    margin-top: 300px;
}

.product{
    margin: 10px;
    padding: 6px;
    height: 200px;
    width: 330px;
    border: 2px solid lightgrey;
}

.product > p{
    margin: 10px; 
}

.product-image{
    float: left;
    max-height: 100px;
    max-width: 150px;
}

.Shoppingcart-button-small{
    float: left;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    margin-top: 10px;
    margin-left: 20px;
}

.Shoppingcart-button-small:hover{
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.Shoppingcart-button-small:active{
    position: relative;
    top: 1px;
}

.filter-navigation{
    margin: 30px;
}

#category-filter{
    margin-top: 80px;
}

.filter-title{
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

.Shoppingcart-button-big{
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    margin-top: 70px;
}

.Shoppingcart-button-big:hover{
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.Shoppingcart-button-big:active{
    position: relative;
    top: 1px;    
}

.Shoppingcart-button-pay{
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #6b5b95;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    margin-top: 70px;
}

.Shoppingcart-button-pay:hover{
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;  
}

.Shoppingcart-button-pay:active{
    position: relative;
    top: 1px;    
}

.product-image-holder{
    height: 100%;
    float: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.product-image-holder > img{
    max-height: 175px;
    max-width: 175px;
}

.product-information-details{
    width: 50%;
    float: right;
}

.top-right{
    display: none;
}

.product-list{
    list-style: none;
}

.checkbox-input{
    vertical-align: middle;
}

.categorie-box{
    margin-top: 5px;
    margin-bottom: 5px;
}